.sidebarContainer {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #0d0d0d;
    display: none;
    align-items: center;
    top: 0;
    left: 0;
    transition: 0.3s ease-in-out;
    opacity: 0;
    top: -100;
    z-index: 999;
}

.sidebarContainer.open {
    display: grid;
    opacity: 100%;
    top: 0;
}

.sidebarIcon {
    position: absolute;
    top: 1.2rem;
    right: 1.5rem;
    background: transparent;
    font-size: 2rem;
    cursor: pointer;
    outline: none;
}

.sidebarCloseIcon {
    color: #fff;
}

.sidebarWrapper {
    color: #fff;
}

.sidebarMenu {

}

.sidebarLink {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    text-decoration: none;
    list-style: none;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    color: #fff;
    margin: 15px;
}

.sidebarLink:hover{
    color: #01bf71;
    transition: 0.2s ease-in-out;
}

.sidebarButtonWrap {
    display: flex;
    justify-content: center;
}